// 
// Global
// 

// Use this file to add styling to your theme

// Toggle buttons
// .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 5px; }
// .toggle.ios .toggle-handle { border-radius: 20px; }

// Areas boxes
.areas-boxes {
    width: 300px;
    height: 500px;
    border-radius: 5px;
    // border-color: rgb(43, 183, 183);
    // border-style: solid;
    // border-width: 2px;
    margin: 20px;

    img {
        border-radius: 15px
    }

}

.list-to-be-centered {
    display: table; 
    margin: 0 auto;
    text-align: left;
}